{% extends "base.html" %}
{% load static %}

{% block content %}


<style>
    .messages {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        display: none;
        color: red;
    }

    .alert-success {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }

    .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

    .alert-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
    }

    .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        color: inherit;
    }

</style>

<main class="main">
    <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        <div class="container">
            <h1 class="page-title">Edit Profile</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" href="{% url 'profile' user.id %}" role="tab">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link"  href="{% url 'user_address' user.id %}" role="tab">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link"  href="{% url 'user_order' %}" role="tab" >Orders</a>
                            </li> 
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <p>Hello <span class="font-weight-normal text-dark">User</span> <br> <h6>This  will  Update  Your  All  Information  Fill  It  Carefully</h6>.</p><hr>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade show active" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form method='post' action="#" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for message in messages %}
                                                <div class="messages alert alert-{{ message.tags }}">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>First Name *</label>
                                            <input type="text" value="{{user.first_name}}" class="form-control" name="first_name" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Last Name *</label>
                                            <input type="text" value="{{user.last_name}}" class="form-control" name="last_name" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>User Name *</label>
                                    <input type="text" value="{{user.username}}" class="form-control" name="username" required>

                                    <label>Profile</label>
                                    <img src="{{ profile.profile_image.url }}" alt="Image 2" style="width:50px; height:50px">
                                    <input class="form-control" type="file" id="image1" name="profile_pic">

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

    <script>
            // Function to show pop-up messages
            function showMessages() {
                // Get all elements with class 'messages'
                var messages = document.getElementsByClassName('messages');

                // Loop through each message element
                for (var i = 0; i < messages.length; i++) {
                    // Show the message element
                    messages[i].style.display = 'block';

                    // Create a closure to capture the value of i
                    (function(index) {
                        // Hide the message after 5 seconds
                        setTimeout(function() {
                            messages[index].style.display = 'none';
                        }, 5000); // 5000 milliseconds = 5 seconds
                    })(i);
                }
            }

            // Call the function when the page loads
            window.onload = showMessages;

    </script>

{% endblock content %}
