{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .messages {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        display: none;
        color: red;
    }

    .alert-success {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }

    .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

    .alert-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
    }

    .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        color: inherit;
    }

</style>

<main class="main">
    <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        <div class="container">
            <h1 class="page-title">My Account<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">

        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link"  href="{% url 'user_profile' %}" role="tab" >Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="tab-address-link"  href="{% url 'user_address' user.id %}" role="tab" >Addresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link"  href="{% url 'user_order' %}" role="tab" >Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-wallet-link" href="{% url 'user_wallet' %}" role="tab">Wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-coupon-link" href="{% url 'user_coupon' %}" role="tab">Coupon</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade " id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <p>From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade show active" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <div class="row">
                                    {% comment %} {% for add in address %}
                                        <div class="col-lg-6">

                                        </div><!-- End .col-lg-6 -->
                                    {% endfor %} {% endcomment %}
                                </div>

                                            {% for message in messages %}
                                                <div class="messages alert alert-{{ message.tags }}">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    {{ message }}
                                                </div>
                                            {% endfor %}

                                <form method="post" action="#">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input type="text" class="form-control" name="first_name" value="{{ address.first_name }}" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input type="text" class="form-control" name="last_name" value="{{ address.last_name }}" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Email *</label>
                                            <input type="text" class="form-control" name="email" value="{{ address.email }}" required>

                                            <label>Address *</label>
                                            <input type="text" class="form-control" name="paddress" value="{{ address.paddress }}" required>

                                            <label>Phone *</label>
                                            <input type="text" class="form-control" name="phone" value="{{ address.phone }}" required>

                                            <label>locality *</label>
                                            <input type="text" class="form-control"  name="locality" value="{{ address.locality }}" required>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Town / City *</label>
                                                    <input type="text" class="form-control" name="city" value="{{ address.city }}" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>State *</label>
                                                    <input type="text" class="form-control" name="state" value="{{ address.state }}" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Landmark *</label>
                                                    <input type="text" class="form-control" name="landmark" value="{{ address.landmark }}" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Postcode / ZIP *</label>
                                                    <input type="tel" class="form-control" name="pin" value="{{ address.pincode }}" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SAVE </span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div><!-- End .summary -->
                                    </div><!-- End .row -->
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->

                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
    <script>
            // Function to show pop-up messages
            function showMessages() {
                // Get all elements with class 'messages'
                var messages = document.getElementsByClassName('messages');

                // Loop through each message element
                for (var i = 0; i < messages.length; i++) {
                    // Show the message element
                    messages[i].style.display = 'block';

                    // Create a closure to capture the value of i
                    (function(index) {
                        // Hide the message after 5 seconds
                        setTimeout(function() {
                            messages[index].style.display = 'none';
                        }, 5000); // 5000 milliseconds = 5 seconds
                    })(i);
                }
            }

            // Call the function when the page loads
            window.onload = showMessages;

    </script>
{% endblock content %}


