{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    /* ... (your existing styles) ... */

    .coupon-card {
        display: flex; /* Use Flexbox */
        align-items: center; /* Center items vertically */
        border: 2px solid #f0f1f2;
        border-radius: 8px;
        padding: 10px; /* Reduce padding */
        margin-bottom: 10px; /* Reduce margin */
        background-color: #fff;
        text-align: center;
    }

    .coupon-image {
        max-width: 80px; /* Reduce image size */
        margin-right: 10px; /* Add margin to separate image from text */
    }

    .coupon-code {
        font-size: 16px; /* Reduce font size */
        margin-bottom: 5px; /* Reduce margin */
    }

    .coupon-details {
        flex-grow: 1; /* Allow text to take remaining space */
        text-align: left; /* Align text to the left */
    }

    .coupon-details p {
        font-size: 12px; /* Reduce font size */
        margin-bottom: 3px; /* Reduce margin */
    }

    .valid-upto span {
        font-weight: bold;
    }

    /* ... (your existing styles) ... */

    .expired-coupon-card {
        display: flex; /* Use Flexbox */
        align-items: center; /* Center items vertically */
        background-color: rgba(128, 128, 128, 0.171);
        color: #fff;
        border: 1px solid #f0f1f2;
        border-radius: 8px;
        padding: 15px; /* Reduce padding */
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px; /* Reduce margin */
    }

    .coupon-description {
        font-size: 20px; /* Reduce font size */
        color: #000000;
        margin: 0;
    }

    .coupon-details {
        flex-grow: 1; /* Allow text to take remaining space */
        text-align: left; /* Align text to the left */
    }

    .discount,
    .minimum-amount {
        font-size: 14px; /* Reduce font size */
        color: #000000;
        margin: 3px 0; /* Reduce margin */
    }

    /* ... (your existing styles) ... */

    /* ... (your existing styles) ... */

    /* ... (your existing styles) ... */
</style>



<main class="main">
    <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        <div class="container">
            <h1 class="page-title">Profile</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" href="{% url 'user_address' user.id %}" role="tab">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" href="{% url 'user_order' %}" role="tab">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-wallet-link" href="{% url 'user_wallet' %}" role="tab">Wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-coupon-link" href="{% url 'user_coupon' %}" role="tab">Coupon</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <center><h3 class="card-title">Available Coupons</h3></center><!-- End .card-title -->
                                        <hr>
                                        {% for coupon in available_coupons  %}
                                        <div class="coupon-card" onclick="copyCouponCode('{{ coupon.coupon_code }}')">
                                            <img class="coupon-image" src="{% static 'assets/images/banners/coupon.jpg' %}" alt="Coupon Image">
                                            
                                            <div class="coupon-details">
                                                <h4 class="coupon-code" id="couponCode" style="color: #0bb745;">{{ coupon.coupon_code }}</h4>
                                                <p class="discount">Discount: {{ coupon.discount }}</p>
                                                <p class="minimum-amount">Minimum Amount: {{ coupon.minimum_amount }}</p>
                                                <p class="valid-upto">Valid Upto: <span style="color: #1abb1a;">{{ coupon.valid_to }}</span></p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="col-lg-6">

                                        <center><h3 class="card-title">Used/Expired Coupons</h3></center><!-- End .card-title -->
                                        <hr>
                                        {% for used_coupon in used_coupons %}

                                        <div class="coupon-card expired-coupon-card">
                                            <img class="coupon-image" src="{% static 'assets/images/banners/sold.jpg' %}" alt="Coupon Image" >  
                                            <div class="coupon-details">
                                                <h4 class="coupon-description" style="color:#c63131;">{{ used_coupon.description }}</h4>
                                                <p class="discount">Discount: {{ used_coupon.discount }}</p>
                                                <p class="minimum-amount">Minimum Amount: {{ used_coupon.minimum_amount }}</p>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div><!-- End .col-lg-6 -->
                                </div><!-- End .row -->
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<!-- Add this to your HTML head section -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    function copyCouponCode(couponCode) {
        // Create a temporary input element
        var tempInput = document.createElement('input');
        
        // Set the input value to the coupon code
        tempInput.value = couponCode;

        // Append the input element to the body
        document.body.appendChild(tempInput);

        // Select the input content
        tempInput.select();
        tempInput.setSelectionRange(0, 99999); // For mobile devices

        // Copy the selected text to the clipboard
        document.execCommand('copy');

        // Remove the temporary input element
        document.body.removeChild(tempInput);

        // Show a SweetAlert2 pop-up
        Swal.fire({
            icon: 'success',
            title: 'Coupon Code Copied!',
            text: 'You can now use the copied coupon code during checkout.',
            showConfirmButton: false,
            timer: 2000 // Adjust the duration of the pop-up
        });
    }
</script>

{% endblock content %}
