{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="main">
    <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        <div class="container">
            <h1 class="page-title">Wishlist<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <table class="table table-wishlist table-mobile">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Stock Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    {% for wishlist_item in wishlist_items %}
                    <tr>
                        <td class="product-col">
                            <div class="product">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="{{wishlist_item.product.product_image1.url}}" alt="Product image">
                                    </a>
                                </figure>

                                <h3 class="product-title">
                                    <a href="#">{{wishlist_item.product.product_name}}</a>
                                </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                        </td>
                        <td class="price-col">₹{{wishlist_item.product.offer_price}}</td>
                        <td class="stock-col">
                        {% if wishlist_item.product.quantity > 0 %}
                                <span class="in-stock">In stock</span>
                            {% else %}
                                <span class="out-of-stock">Out of stock</span>
                            {% endif %}
                        <td class="action-col">
                            {% if wishlist_item.product.quantity > 0 %}
                            <form action="{% url 'add_to_cart_from_wishlist' wishlist_item.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="size_id" value="{{ wishlist_item.productattribute_set.first.id }}">
                                <button type="submit" class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i>Add to Cart</button>
                            </form>
                        {% else %}
                                <button class="btn btn-block btn-outline-primary-2" disabled><i class="icon-cart-plus"></i>Out of Stock</button>
                            {% endif %}
                            
                        </td>
                        <td class="remove-col"><a href="{% url 'remove_user_wishlist' product_id=wishlist_item.id %}" ><button class="btn-remove"><i class="icon-close"></i></button></a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table><!-- End .table table-wishlist -->
            <div class="col-md-1">
                <a href="{% url 'user_profile' %}">
                    <button class="btn btn-block btn-outline-primary-2">Go To Profile</button>
                </a>                   
            </div>  
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock content %}
