{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Confirm Password</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'assets/images/backgrounds/bg.jpeg' %}')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="confirm-password-tab" data-toggle="tab" href="#confirm-password" role="tab" aria-controls="confirm-password" aria-selected="false">Confirm Password</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="confirm-password" role="tabpanel" aria-labelledby="confirm-password-tab">
                            <form method="post">
                                {% csrf_token %}

                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}

                                <div class="form-group">
                                    <label for="password">Password *</label>
                                    <input type="password" class="form-control" id="password" name="password1" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="confirm-password">Confirm Password *</label>
                                    <input type="password" class="form-control" id="confirm_password" name="password2" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>CONFIRM PASSWORD</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <a href="{% url 'signin' %}" class="forgot-link">Back to Login</a>
                                </div><!-- End .form-footer -->
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->

{% endblock content %}
