{% extends "admin_base.html" %}
{% load static %}
{% block content %}

<head>
    <style>
        .btn.page.active {
            background-color: #088178;
            color: #fff;
        }

        .btn.page {
            background-color: #fff; /* Set background color to white for non-active pages */
            color: #28a745; /* Set text color to green */
            border-color: #28a745; /* Set border color to green */
        }
    </style>
</head>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
            <p>This is the product list page.</p>
        </div>
        <div>

            <a href="{% url 'add_product' %}" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">

                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">  
                </div>
                <div class="col-md-2 col-6">   
                </div>
                <div class="col-md-2 col-6">

                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            
            {% for product in products %}
            <article class="itemlist">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">
                        <div class="form-check">
                            <h6 class="mb-0">{{forloop.counter}}</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                        <a class="itemside" href="#">
                            <div class="left">
                                <img src="{{product.product_image1.url}}" class="img-sm img-thumbnail" alt="Item">
                            </div>
                            <div class="info">
                                <h6 class="mb-0">{{product.product_name}}</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>{{product.quantity}}</span> </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        {% if not product.soft_delete %}
                        <span class="badge rounded-pill alert-success">Active</span>
                        {% else %}
                        <span class="badge rounded-pill alert-danger">Disabled</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                        <span>{{product.created_on}}</span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                        <a href="{% url 'edit_products' product.id %}" class="btn btn-sm font-sm rounded btn-brand">
                            <i class="material-icons md-edit"></i> Edit
                        </a>

                    
                        {% if not product.soft_delete %}
                            <form method="post" action="{% url 'soft_delete_product' product.id %}" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit" class="btn btn-sm font-sm " style="background-color: #f44336; margin-left:10px;">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'undo_soft_delete_product' product.id %}" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit" class="btn btn-sm font-sm btn-success rounded" style=" margin-left:10px; padding-left:18px;">
                                    <i class="material-icons md-restore"></i> Undo
                                </button>
                            </form>
                        {% endif %}
                    
                    </div>
                </div> <!-- row .// -->
            </article> <!-- itemlist  .// -->
            {% endfor %}
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">

        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-sm page {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section> <!-- content-main end// -->


{% endblock content %}