{% extends "admin_base.html" %}
{% load static %}
{% block content %}

<head>
    <style>
        .btn.page.active {
            background-color: #088178;
            color: #fff;
        }

        .btn.page {
            background-color: #fff; /* Set background color to white for non-active pages */
            color: #28a745; /* Set text color to green */
            border-color: #28a745; /* Set border color to green */
        }
    </style>
</head>


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Customers List</h2>
            <p>All Users List.</p>
        </div>
        {% comment %} <div>
            <a href="#" class="btn btn-light rounded font-md">Export</a>
            <a href="#" class="btn btn-light rounded  font-md">Import</a>
            <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
        </div> {% endcomment %}
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        {% comment %} <input class="form-check-input" type="checkbox" value=""> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    {% comment %} <select class="form-select">
                        <option selected>All category</option>
                        <option>Electronics</option>
                        <option>Clothes</option>
                        <option>Automobile</option>
                    </select> {% endcomment %}
                </div>
                <div class="col-md-2 col-6">
                    {% comment %} <input type="date" value="02.05.2021" class="form-control"> {% endcomment %}
                </div>
                <div class="col-md-2 col-6">
                    {% comment %} <select class="form-select">
                        <option selected>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select> {% endcomment %}
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            
            {% for customer in customers %}
            <article class="itemlist">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">
                        <div class="form-check">
                            {{forloop.counter}}
                            {% comment %} <input class="form-check-input" type="checkbox"> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                        <a class="itemside" href="#">
                            <div class="left">
                                {% comment %} <img src="assets/imgs/items/1.jpg" class="img-sm img-thumbnail" alt="Item"> {% endcomment %}
                            </div>
                            <div class="info">
                                <h6 class="mb-0">{{customer.username}}</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>{{customer.email}}</span> </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">

                        {% if customer.is_active %}
                        <div class="left">
                            <span class="badge rounded-pill alert-success">Active</span>
                        </div>

                        {% else %}

                        <div class="left">
                            <span class="badge rounded-pill alert-danger">Blocked</span>
                        </div>

                        {% endif %}

                    </div>
                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                        <span>{{customer.date_joined}}</span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                        {% comment %} <a href="#" class="btn btn-sm font-sm rounded btn-brand">
                            <i class="material-icons md-edit"></i> Edit
                        </a> {% endcomment %}
                        {% if customer.is_active %}
                        <form method="post" action="{% url 'block_user' customer.id %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{customer.id}}">
                            <button type="submit" class="btn btn-sm font-sm text-center " style="background-color: #f44336; margin-left:10px; padding-left:18px;  padding-right:15px;">
                                <i class="material-icons md-delete_forever "></i> Block
                            </button>
                        </form>

                        {% else %}

                        <form method="post"  action="{% url 'unblock_user' customer.id %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{customer.id}}">
                            <button type="submit" class="btn btn-sm font-sm btn-success rounded" style="  ">
                                <i class="material-icons md-restore"></i> Unblock
                            </button>
                        </form>
                        {% endif %}

                    
                    
                    </div>
                </div> <!-- row .// -->
            </article> <!-- itemlist  .// -->
            {% endfor %}
            
            
        
            {% comment %} <div class="mx-auto">
                {% if customers.paginator.num_pages > 1 %}

                <hr>
                <div class="text-center">
                    {% for pg in customers.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-sm page {% if customers.number == pg %} active {% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div> {% endcomment %}

        </div> <!-- card-body end// -->
    </div> <!-- card end// -->



    
    <div class="pagination-area mt-30 mb-50">

        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-sm page {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}

        {% comment %} <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav> {% endcomment %}
    </div>



</section> <!-- content-main end// -->


{% endblock content %}