{% extends "admin_base.html" %}
{% load static %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="ml-5">
                <h2 class="ml-3 mt-3">Edit Coupons</h2>
                <a class="ml-3" href="{% url 'coupon' %}">Go back</a>
            </div>
        </div>
    </div>

    <form method="POST" action="{% url 'edit_coupons' coupon.id %}">
        {% csrf_token %}
        <div class="row m-5 p-3" style="background-color:white;">
            {% if messages %}
                {% for msg in messages %}
                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="messages">
                            <div style="color: #cc0000;">
                                {{ msg }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br><br>

            <div class="col-lg-6 primary">
                <div class="mb-3">
                    <label class="form-label" for="coupon_code">Coupon Code</label>
                    <input type="text" class="form-control" id="coupon_code" name="coupon_code" value="{{coupon.coupon_code}}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="4">{{coupon.description}}</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="minimum_amount">Minimum Amount</label>
                    <input type="text" class="form-control" id="minimum_amount" name="minimum_amount" value="{{coupon.minimum_amount}}" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="discount">Discount</label>
                    <input type="text" class="form-control" id="discount" name="discount" value="{{coupon.discount}}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="valid_from">Valid From</label>
                    <input type="datetime-local" class="form-control" id="valid_from" name="valid_from" value="{{ coupon.valid_from|date:'Y-m-d\TH:i' }}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="valid_to">Valid To</label>
                    <input type="datetime-local" class="form-control" id="valid_to" name="valid_to" value="{{ coupon.valid_to|date:'Y-m-d\TH:i' }}" />
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Edit Coupon</button>
            </div>
        </div>
    </form>

</div>
<hr>

{% endblock content %}
